[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
pymongo = "*"
passlib = "*"
flask-restful = "*"
flask-pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
